<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Vue.js App</title>

  <meta name="description"
    content="Client-side app showing two-way data binding with Vue.js - no build tools required.">

  <!-- get current Bootstrap Material Design styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

  <!-- A bit of CSS required for sticky footer -->
  <link href="index.css" rel="stylesheet">

  <!-- Vue component styles -->
  <link href="./components/temp/temp.css" rel="stylesheet">

</head>

<body class="d-flex flex-column sticky-footer-wrapper">
  <main class="container-fluid  flex-fill">

    <div class="row">

      <article id="kelvin" class="container">
        <h2>Temperture Converter</h2>
        <p>Give your temperture in Celsius, get back temperture in Kelvin, instantly!</p>

        <fieldset>
          <label for="degC"></label>
          <input v-model="degC" id="degC" type="number" placeholder="Celsius" min="-273.15" max="100">
          <span id="firstWarning" class="text-danger"></span>
          °C
        </fieldset>

        <h3 class="mt-2"><b>{{result}}</b></h3>
      </article>
    </div>

  </main>

  <!-- sticky footer with padding on y-axis (top and bottom) -->

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Right-click / Inspect / Console</span>
      &#9670;
      <a href="https://dakotagrvtt.github.io/js-gui-vue/">Demo</a>
      &#9670;
      <a href="https://github.com/dakotagrvtt/js-gui-vue">Source</a>
    </div>
  </footer>



  <!-- get current Bootstrap Material Design styles from https://mdbootstrap.com/md-bootstrap-cdn/ -->

  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

  <!-- Vue.js must be added before our custom code from https://cdnjs.com/libraries/vue -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

  <!-- Vue components -->

  <script src="components/temp/temp.js"></script>

</body>

</html>
